html {
    width: 800px;
}

body {
    width: 800px;
    color: #333;
    font-family: "Raleway";
}

body h1 {
    text-align: center;
    color: #428BFF;
    font-weight: 300;
    padding: 40px 0 20px 0;
    margin: 0;
}

.left-menu{
    display: inline-block;
    vertical-align: top;
    height: 426px;
}

.right-content{
    display: inline-block;
    vertical-align: top;
    height: 426px;
    width: 528px;
    background-color: #FFF;
    overflow: scroll;
}

button {
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-indent: 0;
    line-height: 20px;
}

button:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
}